<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.mc.nuno.appdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/login_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Launcher Activity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Panel Activity -->
        <activity
            android:name=".UserPanelActivity"
            android:label="@string/title_activity_user_panel" >
        </activity>


        <!-- Star MasterDetailFlow -->
            <!-- List Activity -->
        <activity
            android:name=".star.StarListActivity"
            android:label="@string/title_star_list" >
        </activity>
            <!-- Detail Activity -->
        <activity
            android:name=".star.StarDetailActivity"
            android:label="@string/title_star_detail"
            android:parentActivityName=".star.StarListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="demo.mc.nuno.appdemo.star.StarListActivity" />
        </activity>


        <!-- Square ViewerPager Activity -->
        <activity
            android:name=".square.SquareActivity"
            android:label="@string/title_activity_square" >
        </activity>


        <!-- FullSquare MasterDetailFlow -->
            <!-- List Activity -->
        <activity
            android:name=".square.full.FullSquareListActivity"
            android:label="@string/title_fullsquare_list" >
        </activity>
            <!-- Detail Activity -->
        <activity
            android:name=".square.full.FullSquareDetailActivity"
            android:label="@string/title_fullsquare_detail"
            android:parentActivityName=".square.full.FullSquareListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="demo.mc.nuno.appdemo.square.full.FullSquareListActivity" />
        </activity>


        <!-- EmptySquare MasterDetailFlow -->
            <!-- List Activity -->
        <activity
            android:name=".square.empty.EmptySquareListActivity"
            android:label="@string/title_emptysquare_list" >
        </activity>
            <!-- Detail Activity -->
        <activity
            android:name=".square.empty.EmptySquareDetailActivity"
            android:label="@string/title_emptysquare_detail"
            android:parentActivityName=".square.empty.EmptySquareListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="demo.mc.nuno.appdemo.square.empty.EmptySquareListActivity" />
        </activity>


    </application>

</manifest>
